:root {
  /* Colors */
  --containerBg: #2d3142;
  --white: #ffffff;
  --orange: #ef8354;
  --black: #000000;
}

@font-face {
  font-family: "Inter";
  src: url("./Inter-VariableFont_opsz,wght.woff") format("woff");
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #a3cef1;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.container {
  width: 900px;
  height: 700px;
  background-color: var(--containerBg);
  box-shadow: 0 2px 2px 1px #bfc0c0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo-text {
  color: var(--orange);
  font-size: 1.5em;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
}

.logo-line-deco {
  border: 3px solid var(--orange);
}

.aside-bar {
  width: 195px;
  height: 100%;
  background-color: var(--white);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid var(--containerBg);
  display: flex;
  flex-direction: column;
  padding: 25px;
}

li {
  list-style: none;
  margin-top: 10px;
}

li > button {
  font-family: "Inter";
  font-size: 0.8em;
  font-weight: medium;
}

.aside-btn {
  width: 100%;
  height: 28px;
  background: none;
  padding: 2px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: left;
  gap: 10px;
  align-items: center;
}

.aside-btn:hover {
  background: #ef82545e;
  border-radius: 4px;
  color: #ef8354;
}

.ul-primarylist {
  margin-top: 40px;
}

h4 {
  margin-top: 15px;
  font-family: "Inter";
  font-size: 1.1em;
  font-weight: small;
}

.project-line-deco {
  border-top: 2px solid var(--containerBg);
}

.main-content {
  border: 1px solid red;
  width: 100%;
  height: 100%;
}
